<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">

<meta name="google-signin-client_id" content="978528847719-0rq1m8mn04d9nktuqe3h2t1ovslpkeij.apps.googleusercontent.com">
<title>Inventory Home Page</title>

<link href="webcss.css" rel="stylesheet">
<link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' rel='stylesheet'>
<link href='https://use.fontawesome.com/releases/v5.8.1/css/all.css' rel='stylesheet'>
<script type='text/javascript'src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script type='text/javascript'src='https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js'></script>
<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
<!-- <script type="text/javascript" src="/webjars/js-cookie/js.cookie.js"></script> -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '342635437164091',
      cookie     : true,
      xfbml      : true,
      version    : 'v10.0'
    });
      
    FB.AppEvents.logPageView();   
      
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
  

  FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
  });
</script>
<script>
function onSignIn(googleUser) {
	// Useful data for your client-side scripts:
	var profile = googleUser.getBasicProfile();
	console.log("ID: " + profile.getId()); // Don't send this directly to your server!
	console.log('Full Name: ' + profile.getName());
	console.log('Given Name: ' + profile.getGivenName());
	console.log('Family Name: ' + profile.getFamilyName());
	console.log("Image URL: " + profile.getImageUrl());
	console.log("Email: " + profile.getEmail());

	// The ID token you need to pass to your backend:
	var id_token = googleUser.getAuthResponse().id_token;
	console.log("ID Token: " + id_token);
}
	function signOut() {
		console.log("triggered the function");

		gapi.load('auth2', function() {
			gapi.auth2.init();

			var revokeAllScopes = function(){
				gapi.auth2.getAuthInstance().disconnect();
				alert("Triggered revoke all scopes!");
				console.log("Triggered revoke all scopes!");
			}
			console.log("User signed out!");
			alert("User signed out!");

		});

		//this is not working
		FB.logout(function(response) {
			   // Person is now logged out
			});
	}

	
	
	function onLoad() {
		gapi.load('auth2', function() {
			auth2 = gapi.auth2.init({
				client_id:'978528847719-0rq1m8mn04d9nktuqe3h2t1ovslpkeij.apps.googleusercontent.com'
			});
		});
	}
	
	window.fbAsyncInit = function() {
		FB.init({
			appId : '1078428542678071',
			autoLogAppEvents : true,
			xfbml : true,
			version : 'v10.0'
		});
	};
</script>





</head>
<body oncontextmenu='return false' class='snippet-body' onLoad="onSignIn(googleUser);">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="box">
					<div>
						<div align="center" sec:authorize="isAuthenticated()" style="color:white">
							Welcome <b><span sec:authentication="name">Username</span>
							<span id="user"></span></b> &nbsp; <i>
							<span sec:authentication="principal.authorities">Roles</span></i>
						</div>
						<br>
						<h1 style="color: white">Employee Management System</h1>
						<div class="p-2">
							<a class="h2" th:href="@{/employees}" style="color: blue">List of Employees</a>
						</div>
						<div class="p-2">
							<a class="h2" th:href="@{/department}" style="color: blue">List of Departments</a>
						</div>
					</div>
					<br>
					<div class="container authenticated">

						<!-- Testing the logout of google api but still fails.. 
			  Logged in as: <span id="user"></span>
			  <div>
			    <button onClick="signOut();" class="btn btn-primary">Logout</button>
			  </div> -->
						<a th:href="@{/logout}" class="btn btn-danger btn-lg"
							onclick="signOut();">Log Out</a>
					</div>
					<br>
				</div>
			</div>
		</div>
	</div>


</body>
</html>